%div
  %tr
    %td
      = f.label :name
    %td
      = f.text_field :name
  %tr
    %td
      = f.label :phone
    %td
      = f.text_field :phone
  %tr
    %td
      = f.label :email
    %td
      = f.text_field :email
  %tr
    %td
      = f.label :relationship
    %td
      = f.text_field :relationship
     
            
