%div 
  %tr 
    %td
      = f.label :member_state
    %td
      = f.text_field :member_state
  %tr 
    %td
      = f.label :vat_number
    %td
      = f.text_field :vat_number
  %tr 
    %td
      = f.label :name_on_registration
    %td
      = f.text_field :vat_name
  %tr 
    %td
      = f.label :address_line_1
    %td
      = f.text_field :vat_address_line_1
  %tr 
    %td
      = f.label :address_line_2
    %td
      = f.text_field :vat_optional_address_line_2
  %tr 
    %td
      = f.label :city
    %td
      = f.text_field :vat_city
  %tr 
    %td
      = f.label :Region
    %td
      = f.text_field :vat_state
  %tr 
    %td
      = f.label :postal_code
    %td
      = f.text_field :vat_zip