= form_for(@user, url: reactivate_account_account_settings_path) do |f|
  = f.hidden_field :email
  = f.label :password
  = f.password_field :password
  = f.submit :continue, class: "btn btn-success"
