#photo{"aria-labelledby" => "photo-title", :role => "tabpanel"}
  .row
    .col-md-8
      .form-content-wrap
        %h1
          = t('experiences.edit_page.step_7.heading')
        %p
          = t('experiences.edit_page.step_7.paragraph_1')
        %h2
          = t('experiences.edit_page.step_7.sub_heading')
        %p
          = t('experiences.edit_page.step_7.paragraph_2')
        = render partial: 'experiences/steps/step_count', locals: { f: f, step: 8 }

        .row
          .current-preview
          = f.fields_for :images do |image|
            = render 'image_fields', f: image
          .links.add-more-images
            = link_to_add_association t('common.add_image_button'), f, :images, class: "btn red-button"

        = f.submit t('common.next_button'), class: 'btn next-stpe-btn next_button'
    .col-md-4
      .side-img
        %img{:src => "/assets/side-7.jpg"}/

- images_count = f.object.images.count
- add_more = 9 - images_count

:javascript
  $(document).on('click', '.img-preview', function(){
    $(this).parent('.nested-fields').find("input[type='file']").trigger('click');
  });

  $(document).on('click', '.remove_img', function(){
    $(this).parent('.remove-image-icon').find("a")[0].click();
  });

  function showimagepreview(input) {
    if (input.files && input.files[0]) {
      $('.current-preview').data('id', $(input).attr('id'));
      var filerdr = new FileReader();
      filerdr.onload = function(e) {
        img = e.target.result;
        div_id = $('.current-preview').data('id')
        preview_div =  $('#'+div_id).parents('.nested-fields').find('.img-preview');

        preview_div.css({
          "background-image": "url("+img+")",
        });

        $('#'+div_id).parents('.nested-fields').find('.caption-box').removeClass('d-none');
        $('#'+div_id).parents('.nested-fields').find('.remove-image-icon').removeClass('d-none');
      }
      filerdr.readAsDataURL(input.files[0]);

    }
  }

  $(document).ready(function(){
    var add_more = parseInt("#{add_more}");
    for (var i=0; i<add_more; i++) {
      $('.add_fields')[0].click();
    }
    if ($('.nested-fields').length < 9) {
      $('.links a.add_fields').show()
    } else {
      $('.links a.add_fields').hide()
    }
  });

  $(document).on('click','.add_fields',function(e){
    if ($('.nested-fields').length < 9) {
      $('.links a.add_fields').show()
    } else {
      $('.links a.add_fields').hide()
    }
  });

  $(document).on('click','.remove_fields',function(e){
    if ($('.nested-fields').length < 10) {
      $('.links a.add_fields').show()
    } else {
      $('.links a.add_fields').hide()
    }
  });

  $(document).ready(function(){
    $(".next_button").prop("disabled", true);
    $(".img-preview").each(function(i,element){
      if($(element).css("background-image").replace(/"/g, "") != "url(http://localhost:3000/assets/no-image.png)"){
        $(".next_button").prop("disabled", false);
        return false;
      }
    });

  });

  $(document).on("change", ".image_field", function(){
    $(".next_button").prop("disabled", false);
  });

  $(document).on("click",".remove_img",function(){
    remove_element = $(this).parent().parent().children()[0];
    $(remove_element).css('background-image',"url(http://localhost:3000/assets/no-image.png)");
    ary = $(".img-preview");
    ary = jQuery.grep(ary, function(value) {
      return value != remove_element;
    });
    $(ary).each(function(i,element){
      if($(element).css("background-image").replace(/"/g, "") != "url(http://localhost:3000/assets/no-image.png)"){
        $(".next_button").prop("disabled", false);
        return false;
      }
      else{
        $(".next_button").prop("disabled", true);
      }
    });

    if(ary.length == 0){
      $(".next_button").prop("disabled", true);
    }
  });






