#page 
  %main
    %section.hero_in.become_host_form
      .wrapper
    .bg_color_1
      %section
        .container.margin_30_30
          .row
            = render partial: "common_link"
            .col-md-9
              .terms-content-wrapper
                %h1 
                  = t('static_pages.terms.heading_1.title')
                %p 
                  = t('static_pages.terms.heading_1.paragraph')
                %hr/
                %h1 
                  = t('static_pages.terms.heading_2.title')
                %h5 
                  = t('static_pages.terms.heading_2.sub_heading')
                %p 
                  = t('static_pages.terms.heading_2.paragraph')
                %ul
                  %li 
                    = t('static_pages.terms.heading_2.list_item_1')
                  %li
                    = t('static_pages.terms.heading_2.list_item_2').html_safe
                  %li
                    = t('static_pages.terms.heading_2.list_item_3').html_safe
                  %li
                    = t('static_pages.terms.heading_2.list_item_4').html_safe
                %h2 
                  = t('static_pages.terms.heading_3.title')
                %p 
                  = t('static_pages.terms.heading_3.paragraph')
                %h2 
                  = t('static_pages.terms.heading_4.title')
                %ol
                  %li
                    %a{:href => "#sec1"} 
                      = t('static_pages.terms.heading_4.link_1')
                  %li
                    %a{:href => "#sec2"} 
                      = t('static_pages.terms.heading_4.link_2')
                  %li
                    %a{:href => "#sec3"} 
                      = t('static_pages.terms.heading_4.link_3')
                  %li
                    %a{:href => "#sec4"} 
                      = t('static_pages.terms.heading_4.link_4')
                  %li
                    %a{:href => "#sec5"} 
                      = t('static_pages.terms.heading_4.link_5')
                  %li
                    %a{:href => "#sec6"} 
                      = t('static_pages.terms.heading_4.link_6')
                  %li
                    %a{:href => "#sec7"} 
                      = t('static_pages.terms.heading_4.link_7')
                  %li
                    %a{:href => "#sec8"} 
                      = t('static_pages.terms.heading_4.link_8')
                  %li
                    %a{:href => "#sec9"} 
                      = t('static_pages.terms.heading_4.link_9')
                  %li
                    %a{:href => "#sec10"} 
                      = t('static_pages.terms.heading_4.link_10')
                  %li
                    %a{:href => "#sec11"} 
                      = t('static_pages.terms.heading_4.link_11')
                  %li
                    %a{:href => "#sec12"} 
                      = t('static_pages.terms.heading_4.link_12')
                  %li
                    %a{:href => "#sec13"} 
                      = t('static_pages.terms.heading_4.link_13') 
                  %li
                    %a{:href => "#sec14"} 
                      = t('static_pages.terms.heading_4.link_14')
                  %li
                    %a{:href => "#sec15"}   
                      = t('static_pages.terms.heading_4.link_15')
                  %li
                    %a{:href => "#sec16"} 
                      = t('static_pages.terms.heading_4.link_16')
                  %li
                    %a{:href => "#sec17"} 
                      = t('static_pages.terms.heading_4.link_17')
                  %li
                    %a{:href => "#sec18"} 
                      = t('static_pages.terms.heading_4.link_18')
                  %li
                    %a{:href => "#sec19"} 
                      = t('static_pages.terms.heading_4.link_19')
                  %li
                    %a{:href => "#sec20"} 
                      = t('static_pages.terms.heading_4.link_20')
                  %li
                    %a{:href => "#sec21"} 
                      = t('static_pages.terms.heading_4.link_21')
                  %li
                    %a{:href => "#sec22"} 
                      = t('static_pages.terms.heading_4.link_22')
                %ul
                  %li
                    = t('static_pages.terms.heading_4.list_item_1').html_safe
                    %ul
                      %li 
                        = t('static_pages.terms.heading_4.list_item_2')
                      %li 
                        = t('static_pages.terms.heading_4.list_item_3')
                      %li
                        = t('static_pages.terms.heading_4.list_item_4')

= javascript_include_tag('setting_menu.js')
