#new-offer.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title New Offer
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        = form_for(:offer, url: offers_host_path, method: :post) do |f|
          = f.text_field :title, placeholder: "Title", class: "form-control"
          %br
          = f.text_field :description, placeholder: "Description", class: "form-control"
          %br
          = f.text_field :discount, placeholder: "Discount in %", class: "form-control"
          %br
          = f.text_field :max_discount, placeholder: "Max Discount", class: "form-control"
          %br
          = f.text_field :weekly_discount, placeholder: "Max Weekly Discount", class: "form-control"
          %br
          = f.text_field :monthly_discount, placeholder: "Max Monthly Discount", class: "form-control"
          %br
          = f.submit "Add Offer", class: "form-control btn btn-primary"
      .modal-footer
