- price_from, price_to = check_price_range

#filters_searchbar
  .container-fluid.pl-lg-5.pr-lg-5
    %a#filters_col_bt{"aria-controls" => "collapseFilters", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseFilters"} Filters
  #collapseFilters.container-fluid.pl-lg-5.pr-lg-5.collapse.show
    = form_tag request.path, method: :get do |f|
      .row.no-gutters.custom-search-input-2.inner
        .col-md-3
          .form-group
            = text_field_tag 'filter[query]', "#{params[:filter][:query] rescue nil}", placeholder: t('home.search_form.placeholder_1'), class: 'form-control'
            %i.icon_search

        .col-md-2.col-sm-6.col
          .panel-dropdown.filter-dropdown
            %a{:href => "#"}
              = t("home.search_form.dates")
            .panel-dropdown-content
              .form-group
                = text_field_tag 'filter[check_in]', "#{params[:filter][:check_in] rescue nil}", placeholder: t('home.search_form.placeholder_2'), class: 'form-control datepicker'
                %i.icon_calendar
              .form-group
                = text_field_tag 'filter[check_out]', "#{params[:filter][:check_out] rescue nil}", placeholder: t('home.search_form.placeholder_3'), class: 'form-control datepicker'
                %i.icon_calendar

        .col-md-2.col-sm-6.col
          .form-group
            .panel-dropdown.filter-dropdown
              %a{:href => "#"}
                = t('home.search_form.guest')
                %span.qtyTotal 1
              .panel-dropdown-content
                .qtyButtons
                  %label #{t('home.search_form.adults')}
                  = text_field_tag 'filter[guest[adult]]', "#{params[:filter][:guest][:adult] rescue 1}"
                .qtyButtons
                  %label #{t('home.search_form.children')}
                  = text_field_tag 'filter[guest[child]]', "#{params[:filter][:guest][:child] rescue 0}"

        - if request.path.include?('/places')
          .col-md-2.col-sm-6.col
            .form-group
              .panel-dropdown.select-day.filter-dropdown
                %a{:href => "#"} Home type
                .panel-dropdown-content
                  .check-box-wrapper
                    - Place::GUEST_HAVE.each do |guest_have|
                      %label.check-box
                        #{guest_have}
                        - if (params[:filter][:what_will_guest_have].include?(guest_have) rescue false)
                          = check_box_tag 'filter[what_will_guest_have][]', guest_have, checked: 'checked'
                        - else
                          = check_box_tag 'filter[what_will_guest_have][]', guest_have
                        %span.checkmark

        - if request.path.include?('/experiences')
          .col-md-2.col-sm-6.col
            .form-group
              .panel-dropdown.select-day.filter-dropdown
                %a{:href => "#"} Time Of Day
                .panel-dropdown-content
                  .check-box-wrapper
                    - ApplicationController::TIME_OF_DAY_FILTER.map do |key, value|
                      %label.check-box
                        #{key}
                        %small Starts after #{value}
                        - if (params[:filter][:hosting_start_time].include?(key.downcase) rescue false)
                          = check_box_tag 'filter[hosting_start_time][]', key.downcase, checked: 'checked'
                        - else
                          = check_box_tag 'filter[hosting_start_time][]', key.downcase
                        %span.checkmark

        .col-md-2.col-sm-6.col
          .form-group
            .panel-dropdown.select-day.filter-dropdown
              %a{:href => "#"} #{t('home.search_form.price_range')}
              .panel-dropdown-content
                .price-slider
                  = number_field_tag 'filter[price[minimum]]', price_from, placeholder: 'Min', class: 'form-control'
                  = number_field_tag 'filter[price[maximum]]', price_to, placeholder: 'Max', class: 'form-control d-none'

        .col-md-1
          %input.btn_search{:type => "submit", :value => "#{t('common.search_button')}"}/
